{{ "<!-- CONTACT -->" | safeHTML }}
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                {{ with .Site.Params.contact.headline }}
                    <h2 class="section-heading">{{ . }}</h2>
                {{ end }}
                {{ if and .Site.Params.contact.headline .Site.Params.contact.description }}
                    <hr class="primary">
                {{ end }}
                {{ with .Site.Params.contact.description }}
                    <p>{{ . | markdownify }}</p>
                {{ end }}
            </div>
            {{ if .Site.Params.contact.newsletter }}
                <div class="col-lg-3 text-center">
                    <i class="fa fa-newspaper-o fa-3x wow bounceIn"></i>
                    <p><a href="{{ .Site.Params.contact.newsletter }}">Join our newsletter!</a></p>
                </div>
            {{ end }}
            {{ if .Site.Params.contact.email }}
                <div class="col-lg-3 text-center">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p><a href="mailto:{{ .Site.Params.contact.email }}">{{ .Site.Params.contact.email }}</a></p>
                </div>
            {{ end }}
            {{ if .Site.Params.contact.socials }}
                <div class="col-lg-3 text-center">
                    {{ "<!-- Uses FontAwesome 4 icons-->" | safeHTML }}
                    <a href="https://www.facebook.com/groups/187513984610759/" alt="Facebook"><i class="fa fa-facebook fa-3x wow bounceIn"></i></a>
                    <a href="https://www.instagram.com/msuballroom/" alt="Instagram"><i class="fa fa-instagram fa-3x wow bounceIn"></i></a>
                    <a href="https://twitter.com/MSUBallroom" alt="Twitter"><i class="fa fa-twitter fa-3x wow bounceIn"></i></a>
                    <p>{{ .Site.Params.contact.socials }}</p>
                </div>
            {{ end }}
                <div class="col-lg-3 text-center">
                    <a href="https://squareup.com/store/MSUBDT" alt="Square Store"><i class="fa fa-credit-card fa-3x wow bounceIn"></i></a>
                    <p><a href="https://squareup.com/store/MSUBDT">Square Store to pay dues and competition costs online!</a></p>
                </div>
        </div>
    </div>
</section>
