{{ "<!-- Portfolio Modals -->" | safeHTML }}
{{ range .Site.Data.positions }}
<div class="portfolio-modal modal fade" id="portfolioModal{{ .modalID }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        {{ with .name }}
                            <h2>{{ . }}</h2>
                        {{ end }}
                        {{ if and .name .description }}
                            <hr class="star-primary">
                        {{ end }}
                        <img src="img/portfolio/{{ .img }}" class="img-responsive img-centered" alt="">
                        {{ with .description }}
                            <p>{{ . | markdownify }}</p>
                        {{ end }}
                        {{ if or .email .position }}
                            <ul class="list-inline item-details">
                                    <li>{{ with $.Site.Params.portfolio.modal.email }}{{.}}: {{ end }}
                                        <strong><a href="mailto:{{ .email }}">{{ .email }}</a></strong>
                                    </li>
                                    <li>{{ with $.Site.Params.portfolio.modal.position }}{{.}}: {{ end }}
                                        <strong>Position: {{ .position }}</strong>
                                    </li>
                            </ul>
                        {{ end }}
                        {{ with $.Site.Params.portfolio.modal.buttonText }}
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>{{.}}</button>
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}
