{{ "<!-- NAVIGATION -->" | safeHTML }}
{{ if .IsHome }}
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
{{ else }}
    <nav class="navbar navbar-default navbar-fixed-top affix">
{{ end }}
    <div class="container-fluid">
        {{ "<!-- Brand and toggle get grouped for better mobile display -->" | safeHTML }}
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-controls="bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {{ with .Site.Params.navigation.brand }}
                <a class="navbar-brand page-scroll" href="/#page-top">{{ . | markdownify }}</a>
            {{ end }}
        </div>
        {{ "<!-- Collect the nav links, forms, and other content for toggling -->" | safeHTML }}
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                {{ if .Site.Params.navigation.links.gala }}
                    <li>
                        <a href="{{ .Site.BaseURL | relLangURL }}gala">Gala</a>
                    </li>
                {{ end }}
                {{ if and .Site.Params.about .Site.Params.navigation.links.about }}
                    <li>
                        <a class="page-scroll" href="{{ .Site.BaseURL | relLangURL }}#about">{{ .Site.Params.navigation.links.about }}</a>
                    </li>
                {{ end }}
                {{ if and .Site.Params.services.list .Site.Params.navigation.links.services }}
                    <li>
                        <a class="page-scroll" href="{{ .Site.BaseURL | relLangURL }}#services">{{ .Site.Params.navigation.links.services }}</a>
                    </li>
                {{ end }}
                {{ if and .Site.Data.positions .Site.Params.navigation.links.portfolio }}
                    <li>
                        <a class="page-scroll" href="{{ .Site.BaseURL | relLangURL }}#portfolio">{{ .Site.Params.navigation.links.portfolio }}</a>
                    </li>
                {{ end }}
                {{ if and .Site.Params.location .Site.Params.navigation.links.location }}
                <li>
                    <a class="page-scroll" href="{{ .Site.BaseURL | relLangURL }}#location">{{ .Site.Params.navigation.links.location }}</a>
                </li>
                {{ end }}
                {{ if and .Site.Params.contact .Site.Params.navigation.links.contact }}
                    <li>
                        <a class="page-scroll" href="{{ .Site.BaseURL | relLangURL }}#contact">{{ .Site.Params.navigation.links.contact }}</a>
                    </li>
                {{ end }}
            </ul>
        </div>
        {{ "<!-- /.navbar-collapse -->" | safeHTML }}
    </div>
    {{ "<!-- /.container-fluid -->" | safeHTML }}
</nav>
